<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588305139365-6hg7euqeo6l8vp7fcgct9l9bds0lgo3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588305139365-6hg7euqeo6l8vp7fcgct9l9bds0lgo3l</string>
	<key>API_KEY</key>
	<string>AIzaSyBc0ra3C-ZYaPx3YhC4adE7zpqDTDgNaO8</string>
	<key>GCM_SENDER_ID</key>
	<string>588305139365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.dontpanicapp</string>
	<key>PROJECT_ID</key>
	<string>nepanikar-cad6d</string>
	<key>STORAGE_BUCKET</key>
	<string>nepanikar-cad6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588305139365:ios:11f687cb26f56e392daf4c</string>
</dict>
</plist>